<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
    	<title>ShopCart Sample</title>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    	
    	<!--link rel="stylesheet" type="text/css" th:href="@{}" /-->
    </head>
	<body>
		<h2>Products List</h2>
		<table>
			<thead>
				<tr>
					<th>Description</th>
					<th>Price</th>
					<th>Quantity</th>
					<th>Add to cart</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="product: ${products}">
					<td th:text="${product.id}" style="display: none;"></td>
					<td th:text="${product.description}"></td>
					<td th:text="${product.price}"></td>
					<td>
						<input type="number" value="1" />
					</td>
					<td><button class="btn-add-to-cart">Add Item</button></td>
				</tr>
			</tbody>
		</table>
		
		<h3> <a th:href="@{/view-cart}">Shopping Cart: <span id="cart-itens-count" th:text="${session.cart.itens.size()}"></span></a> </h3>
		<h4>Total: <span id="cart-total-count" th:text="${session.cart.total}"></span></h4>
		
		<form th:action="@{/logout}" method="POST">
			<input type="submit" value="Deauthenticate" />
		</form>
		<script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
		<script type="text/javascript">
			$(function() {
				$('.btn-add-to-cart').click(function() {
					var produtoInfo = $(this).parents('tr')[0].getElementsByTagName('td');
					var produtoQuantity = produtoInfo[3].getElementsByTagName('input');
					
					var cartItem = {
						product: {
							id: produtoInfo[0].innerHTML,
							description: produtoInfo[1].innerHTML,
							price: produtoInfo[2].innerHTML
						},
						quantity: produtoQuantity[0].value
					};
					
					$.ajax({
						type: 'POST',
						url: '/ws/add-to-cart',
						contentType: 'application/json',
						data: JSON.stringify(cartItem),
						success: function(data) {
							var currentItensCount = $('#cart-itens-count').text() === '0' ? 0 : Number($('#cart-itens-count').text());
							$('#cart-itens-count').text(currentItensCount + 1);
							var currentTotalCount = $('#cart-total-count').text() === '0' ? 0 : Number($('#cart-total-count').text());
							$('#cart-total-count').text(currentTotalCount + (data.product.price * data.quantity));
						},
						error: function (error) {
				            console.log("ERROR : ", error);
				        },
					});
				});
			});
				
				
				
				/*
				$('.btn-add-to-cart').click(function() {
					var produtoInfo = $(this).parents('tr')[0].getElementsByTagName('td');
					var produtoQuantity = produtoInfo[3].getElementsByTagName('input');
					
					var cartItem = {
						product: {
							id: produtoInfo[0].innerHTML,
							description: produtoInfo[1].innerHTML,
							price: produtoInfo[2].innerHTML
						},
						quantity: produtoQuantity[0].value
					};
					
					addToCart(cartItem);
				});
				
				$('.btn-remove-from-cart').click(function() {
					var rowTable = $(this).parents('tr')[0];
					var produtoInfo = rowTable.getElementsByTagName('td');
					
					var cartItem = {
						product: {
							id: produtoInfo[0].innerHTML
						}
					};
					
					removeFromCart(cartItem, rowTable);
				});
				
				function addToCart(cartItem) {
					$.ajax({
						type: 'POST',
						url: '/ws/add-to-cart',
						contentType: 'application/json',
						data: JSON.stringify(cartItem),
						success: function(data) {
							$('#cart-table tbody')
							.append($('<tr>')
								.append($('<td style="display: none;">').text(data.product.id))
								.append($('<td>').text(data.product.description))
								.append($('<td>').text(data.product.price))
								.append($('<td>').text(data.quantity))
								.append($('<td>')
									.append('<a>').attr('class', 'btn-remove-from-cart').html(' X ')
								)
							);
						},
						error: function (error) {
				            console.log("ERROR : ", error);
				        }
					});
				}
				
				function removeFromCart(cartItem, rowTable) {
					$.ajax({
						type: 'DELETE',
						url: '/ws/remove-from-cart',
						contentType: 'application/json',
						data: JSON.stringify(cartItem),
						success: function(data) {
							rowTable.remove();
						},
						error: function (error) {
				            console.log("ERROR : ", error);
				        }
					});
				}
				*/
		</script>
	</body>
</html>